.test { /*this prevents scrollbars from appearing - why? Try typing in input to demonstrate...*/
  box-sizing: border-box;
  border: 1px solid white;
}

:root {
  --primary-color: darkgray;
  --secondary-color: lightgray; 
}

li {
  list-style: none;
}

button {
  margin: .5rem;
  padding: .25rem;
  border-radius: 5px;
  border-width: 0px;
  background-color: var(--primary-color);
  outline: none;
}

button:hover {
  background-color: var(--secondary-color);
  transition: background-color .5s ease-in-out;
}

textArea, input {
  outline: none;
}





